<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coursera - AWS Rekognition Guide Project</title>
    <meta name="description" content="Coursera - AWS Rekognition Guide Project">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <h1>Facial and Objects Detection with AWS Rekogniton - Guided Project</h1>
    </header>

    <main>
      
      <!--  ***** DETECT LABELS ********
      <form action="/detectLabels" method="post" >
          <p><b>Detect Label</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Object Name</div>  
          <input type="text" id="objectname" name="objectname"/>
          <br>
          <button type="submit">Detect Labels</button>
      </form>
      ********* -->
  
      <!--  ***** IMAGE MODERATION ********    
      <form action="/imageModeration" method="post" >
          <p><b>Image Moderation</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Object Name</div>  
          <input type="text" id="objectname" name="objectname"/>
          <br>
          <button type="submit">Image Moderation</button>
      </form>
      ********* -->

      <!--  ***** FACIAL ANALYSIS ********        
      <form action="/facialAnalysis" method="post" >
          <p><b>Facial Analysis</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Object Name</div>  
          <input type="text" id="objectname" name="objectname"/>
          <br>
          <button type="submit">Facial Analysis</button>
      </form>
      ********* -->  

      <!--  ***** CELEBRITY RECOGNITION ********              
      <form action="/celebrity" method="post" >
          <p><b>Celebrity Recognition</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Object Name</div>  
          <input type="text" id="objectname" name="objectname"/>
          <br>
          <button type="submit">Celebrity Recognition</button>
      </form>
      ********* --> 

      <!--  ***** TEXT IN IMAGE ********                    
      <form action="/textImage" method="post" >
          <p><b>Text In Image</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Object Name</div>  
          <input type="text" id="objectname" name="objectname"/>
          <br>
          <button type="submit">Text In Image</button>
      </form>
      ********* --> 

      <!--  ***** FACE COMPARISON ********                     
      <form action="/faceCompare" method="post" >
          <p><b>Face Comparison</b></p>  
          <div>Bucket Name</div>       
          <input type="text" id="bucketname" name="bucketname"/>
          <div>Face One</div>  
          <input type="text" id="faceone" name="faceone"/>
          <br>
          <div>Face Two</div>  
          <input type="text" id="facetwo" name="facetwo"/>
          <br>
          <button type="submit">Face Comparison</button>
      </form>
      ********* -->

    </main>

  </body>
</html>
